ion-view {
    background-image: url(https://scontent-mia1-1.xx.fbcdn.net/hphotos-xlf1/v/wl/l/t35.0-12/12810162_10204154650185937_694213025_o.jpg?oh=de0e107473565dfecddb960e07261eff&oe=56DCC68B);
}

.front-images {
    margin-top:2px;
    width:100px;
    height: 100px;
}

ion-card-header{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
   display: block;
    text-align: center;
    font-size: 3em;
    color: white;
}

.wrapword{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
word-break: break-all;
white-space: normal;

}

.place-info{
    margin-left: 2%;
    margin-right: 2%;
    opacity: 85%;
}
.place-image{
    margin-left:auto;
    margin-right: auto;
    display: block;
        opacity: 85%;

}
.info{
    opacity:85%;
}

.place{
    color:white;
    text-shadow: 2px 2px #000000;
    font-size: 2em;
    text-align: center;
    margin-top: 3%;
    width:50%;
    display:inline-block;
    height:50%;
}

.place ion-card{
    width:50%;
    border-radius: 5px;
}

.info-card {
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    opacity: 85%;
}